@import "tailwindcss";

@theme {
  --color-katta-50: #F0F7F6;
  --color-katta-100: #B1CCC9;
  --color-katta-200: #7EAAA6;
  --color-katta-300: #478680;
  --color-katta-400: #196861;
  --color-katta-500: #005850;
  --color-katta-600: #004F48;
  --color-katta-700: #00443D;
  --color-katta-800: #003A34;
  --color-katta-900: #002E29;
}

body {
  @apply bg-white text-slate-900;
  margin: 0;
  min-height: 100vh;
}
